/* style.css */

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
  }

  * {
  margin: 0;
  }

  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }
  
  body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  }
  
  input, button, textarea, select {
  font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  }

  p {
  text-wrap: pretty;
  }

  h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
  }

.lightning {
  height: 100vh;
  width: max(100vw * 0.35, 300px);
}

.img-container {
  position: relative;
  flex: 1 0 auto;
}

.banner {
  display: flex;
  gap: 1rem;
  font-family: 'norse bold';
  color: whitesmoke;
  font-size: 4rem;
  background: hsla(59, 63%, 96%, 0.2);
  position: absolute;
  top: 10rem;
  width: 100%;
  justify-content: center;
}

.logo {
  height: 6rem;
  display: inline;
  margin: 1rem 0;
}

.banner-text {
  margin: 1rem 0;
}

.top-container {
  display: flex;
}


.italic {
  font-style: italic;
}

.descriptor,
.cta-header,
.login {
  font-weight: bold;
}

.descriptor {
  padding: 6rem 8rem 2rem 5rem;
  background: #f0e9f2;
  box-shadow: 0px 2px 5px 0px lightgray;
}

.cta-header {
  display: block;
  margin: 1rem auto 0rem 5rem;
}

form {
  display: flex;
  flex-wrap: wrap;
  margin: 0rem 8rem 2rem 5rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 6px 5px 0px lightgray;
}

.form-item {
  flex: 0 0 50%;
  margin-top: 1rem;
}

label {
  display: block;
  font-size: 0.7rem;
}

input:invalid {
  border: red solid 2px;
}

input:focus {
  border: 1px solid #9b42d6;
  background-color: #f0e9f2;
  outline: none;
}

button {
  margin: 2.5rem auto auto 5rem;
  padding: 0.5rem 3rem;
  background-color: #9b42d6;
  color: white;
  font-weight: 850;
  border-radius: 6px;
  border: none;
  box-shadow: 6px 6px 10px 0px lightgray;
}

button:active {
  transform: scale(0.98);
  background-color: #DFC2F2;
}

input {
  border: 1px solid #f0e9f2;
  border-radius: 6px;
}

.login {
  margin: 1rem auto 0rem 5rem;
}

a {
  color: #9b42d6;
}